name: Go test

on:
  workflow_call:
    inputs:
      runs-on:
        type: string
        required: false
        default: ubuntu-latest
      go-version:
        type: string
        required: false
        default: stable
      working-directory:
        type: string
        required: false
        default: .
      install-packages:
        type: string
        required: false

permissions:
  contents: read

concurrency:
  # Prefer cache reuse over concurrency
  group: ${{ inputs.runs-on }} ${{ github.head_ref || github.ref }}

jobs:
  gotest:
    runs-on: ${{ inputs.runs-on }}
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install packages
        if: ${{ inputs.install-packages != '' }}
        env:
          INSTALL_PACKAGES: ${{ inputs.install-packages }}
        shell: bash
        run: |
          packages="${INSTALL_PACKAGES:?}"
          packages="${packages/,/ }"
          echo "Packages: ${packages}" >&2
          if type apt-get 2>/dev/null; then
            sudo apt-get update
            xargs <<< "$packages" | xargs --no-run-if-empty sudo apt-get install -y --
          else
            echo 'Installing packages is not supported on this system.' >&2
            exit 1
          fi

      - name: Go setup
        uses: actions/setup-go@v6
        with:
          go-version: ${{ inputs.go-version }}

      - name: Dependencies
        run: go get -v ./...

      - name: Build
        run: go build ./...

      - name: Test
        run: go test -v -vet=all ./...

      - name: Test with data race detection
        run: go test -race ./...

      - name: Run additional tests
        shell: bash
        run: |
          if [[ -e .github/ghactions-go-test-extra ]]; then
            find .github/ghactions-go-test-extra -mindepth 1 -maxdepth 1 -type f
          fi | \
          sort --version-sort | \
          while read -r i; do
            printf "::group::%q\n" "$i"
            if "$i"; then
              :
            else
              rc=$?
              printf "::error file=%q::Failed with code %d\n" "$i" "$rc"
            fi
            echo ::endgroup::
          done

# vim: set sw=2 sts=2 et :
